/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// regular style toast
@import '~ngx-toastr/toastr';

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.main-container {
  padding: 25px 15px 100px 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.border {
  &-top {
    border-top: 1px solid #e5e5e5;
  }
  &-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  &-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}

input,
select,
file,
textarea {
  max-width: 400px;
}